@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.foo {
  background: red;
}

table.jo-table tr:nth-child(even) {
  background: rgb(250, 250, 250);
}

table.jo-table {
  background: white;
  border: 1px solid #eee;
  border-collapse: all;
  width: 100%;
}

table.jo-table > thead {
  background: rgb(245, 245, 245);
  font-weight: 600;
  text-align: left;
}

table.jo-table > thead th {
  padding: 8px;
  font-size: 0.85rem;
}

table.jo-table > tbody > tr {
  border-bottom: 1px solid #eee;
}

table.jo-table > tbody > tr > td {
  padding: 10px;
}

table.jo-table tbody tr:hover {
  background: rgb(235, 235, 235);
}